<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Inscription confirmée pour <%= @event.title %> !</h1>
    <p>
      Salut <%= @user.first_name %>, tu t'es inscrit à <%= @event.title %>
    </p>
    <p> À très vite sur monsite.fr !</p>
  </body>
</html>
