<div class="mx-4">
  <% object.in_groups_of(4) do |group| %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 text-center mt-3">
      <% group.each do |event| %>
        <% unless event.nil? %>
          <%= render partial: 'application/cards', locals: { object: event } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
